.header{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    padding: 30px;
    height: 235px;
    text-align: center;
}
.image{
border-radius: 50%;
}
.container{
    position: relative;
    display: block;
    width: 290px;
    min-width: 290px;
}